fund=false
audit=false
progress=false
loglevel=error
engine-strict=true
save-exact=true
package-lock=true
legacy-peer-deps=false
node-options=--max-old-space-size=512
registry=https://registry.npmjs.org/
update-notifier=false 